/* styling pagination component */
.pagination {
    justify-content: center;
}
.pagination li {
    cursor: pointer;
    color: #00695c;
    padding: 0.5rem;
    border: 1px solid #00695c;
    margin: 0 1rem;
}

.pagination .active {
    background-color: #00695c;
    color: white;
}
