.main-footer {
    text-align: center;
    padding: 1rem;
    margin-bottom: -1.9rem;
    color: white;
    background-color: #3f3047;
}

.navbar {
    margin: 0 30px;
    background-color: #3f3047;
}

.logo {
    position: absolute;
    top: -4.2rem;
    left: 0;
    height: 12rem;
    z-index: -1;
}

.nav-link {
    transition: all 0.5s;
}

.navbar-nav:hover .nav-link {
    color: rgba(129, 127, 127, 0.493);
}
.nav-link:hover {
    transform: translateY(-3px);
}
