/* styleing product componenet */
.product {
    width: 16rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 1rem 1rem 1.5rem 1rem;
}

.product:hover {
    transform: scale(1.07);
}

.product img {
    min-height: 15rem;
    max-height: 15rem;
}

/* styling productDetails component */
.productDetail img {
    min-height: 26rem;
    max-height: 26rem;
}

/* styling editProject */
.editProject img {
    width: 50%;
    height: 20rem;
}

/* Styling productList */
.paginationBar {
    order: 1;
    margin-top: 2.5rem;
}
.searchBar {
    order: 2;
}
.productCards {
    order: 3;
}

.no-products {
    margin-top: 1.5rem;
    width: 80%;
}

.serverError {
    justify-content: center;
    align-items: center;
    color: red;
    height: 85vh;

    animation: 1s moveIn ease-out backwards 4s;
}

.serverError h1 {
    font-size: 3rem;
    width: 70%;
}

@keyframes moveIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media query*/
@media only screen and (max-width: 991px) {
    .product {
        margin-top: 0rem;
    }

    .paginationBar {
        margin: 1rem 0;
        order: 2;
    }
    .searchBar {
        order: 1;
    }
    .productCards {
        order: 3;
    }

    .serverError h1 {
        width: 50%;
        font-size: 2rem;
    }
}
